[Desktop Entry]
Name=Xrdesktop
Comment=rdesktop frontend
Comment[pl]=Interfejs dla rdesktop
Icon=xrdesktop
Exec=xrdesktop
Terminal=false
Type=Application
Categories=GTK;Network;RemoteAccess;
# vi: encoding=utf-8
