[Desktop Entry]
Encoding=UTF-8
Name=Xrdesktop
Comment=rdesktop frontend
Comment[pl]=Interfejs dla rdesktop
Icon=xrdesktop.png
Exec=xrdesktop
Terminal=false
Type=Application
# vi: encoding=utf-8
